user_1, user, 1
user_10, user, 10
user_50, user, 50
#user_100, user, 100
rest_1, rest, 1, http://localhost:9764/bps-bperf-services_1.0.0/services/service1/echo
rest_10, rest, 10, http://localhost:9764/bps-bperf-services_1.0.0/services/service1/echo
rest_50, rest, 50, http://localhost:9764/bps-bperf-services_1.0.0/services/service1/echo
#rest_100, rest, 100, http://localhost:9764/bps-bperf-services_1.0.0/services/service1/echo
java_1, java, 1, org.wso2.carbon.bps.perf.services.Service1
java_10, java, 10, org.wso2.carbon.bps.perf.services.Service1
java_50, java, 50, org.wso2.carbon.bps.perf.services.Service1
#java_100, java, 100, org.wso2.carbon.bps.perf.services.Service1
par3_2, par, 2, 3, org.wso2.carbon.bps.perf.services.Service1
par3_10, par, 10, 3, org.wso2.carbon.bps.perf.services.Service1
par3_50, par, 50, 3, org.wso2.carbon.bps.perf.services.Service1
#par3_100, par, 100, 3, org.wso2.carbon.bps.perf.services.Service1
xor_1, xor, 1, org.wso2.carbon.bps.perf.services.Service1
xor_10, xor, 10, org.wso2.carbon.bps.perf.services.Service1
xor_50, xor, 50, org.wso2.carbon.bps.perf.services.Service1
#xor_100, xor, 100, org.wso2.carbon.bps.perf.services.Service1
